.illustratorinterface{
    width:100%;
    height:100%;
    background-image: url(file:///Users/graywaters/Documents/GitHub/wp22coursework/Newly_Formed/interface.png);
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom: 20;
}

.overlaya{
        width: 100%;
        height: 100%;
  }

  .illustratorinterfaceb{
    width:100%;
    height:100%;
    background-image: url(file:///Users/graywaters/Documents/GitHub/wp22coursework/Newly_Formed/interface_copy.png);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom: 20;
}

.overlayb{
    width: 100%;
    height: 100%;
}

.illustratorinterfacec{
    width:100%;
    height:100%;
    background-image: url(file:///Users/graywaters/Documents/GitHub/wp22coursework/Newly_Formed/interface_c.png);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom: 20;
}

.overlayc{
    width: 100%;
    height: 100%;
}

.illustratorinterfaced{
    width:100%;
    height:100%;
    background-image: url(file:///Users/graywaters/Documents/GitHub/wp22coursework/Newly_Formed/interface_d.png);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom: 20;
}

.overlayd{
    width: 100%;
    height: 100%;
}

.illustratorinterfacee{
    width:100%;
    height:100%;
    background-image: url(file:///Users/graywaters/Documents/GitHub/wp22coursework/Newly_Formed/interface_e.png);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom: 20;
}

.overlaye{
    width: 100%;
    height: 100%;
}

.illustratorinterfacef{
    width:100%;
    height:100%;
    background-image: url(file:///Users/graywaters/Documents/GitHub/wp22coursework/Newly_Formed/interface_f.png);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom: 20;
}

.overlayf{
    width: 100%;
    height: 100%;
}