.body{
    max-width: 500px;
    font-family:"Andale Mono Regular";
}
.navbar{
  font-family:"Andale Mono Regular";
  font-size:1.7vw;
  min-width: 10px;
  display:inline-grid;
  top:0px;
  position:sticky;
  grid-template-columns: 60px 30px 20px 20px;
  width: 5vw;
  column-gap:5.78vw;
  margin-left: 31vw;
  margin-top: -45vw;
  color: #f8b3b6;
}

.landingpage{
  min-width: 300px;
  margin-left: 280px;
  margin-right:200px;
  margin-top: -600px;
  color: #f8b3b6;
  text-align: center;
  font-family:"Andale Mono Regular";
  position:static;
}
@font-face {
    font-family: 'Andale Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Andale Mono Regular'), url('ANDALEMO.woff') format('woff');
}
