.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.heading {
  margin-top: 500px;
  font-family: Andalemo, sans-serif;
  font-size: 100px;
}

.image {
  position: static;
  float: left;
}

.image-2 {
  width: 30vw;
  max-width: 100vw;
  min-width: 5vw;
  margin-top: 71px;
  margin-left: 60px;
}

.heading-2 {
  margin-top: 38px;
  margin-left: 60px;
  border: 1px solid transparent;
  font-family: Andalemo, sans-serif;
  color: #cd8d90;
  font-size: 90px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 100px;
  padding-top: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: ". Area-3"
    ". Area"
    "Area-4 Area-2";
  -ms-grid-columns: 0.5fr 10px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 120px 10px 120px 10px 120px;
  grid-template-rows: 120px 120px 120px;
}

.image-3 {
  width: 22vw;
  height: auto;
  min-height: 10px;
  min-width: 10vw;
  margin-top: -375px;
  margin-left: -79px;
  padding-top: 0px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
  mix-blend-mode: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4 {
  width: 12vw;
  height: 20vw;
  margin-top: -87px;
  margin-left: 459px;
  cursor: pointer;
}

.image-5 {
  width: 20vw;
  margin-top: -32px;
  margin-bottom: -14px;
  margin-left: 56px;
  padding-bottom: 0px;
  cursor: pointer;
}

.image-6 {
  width: 15vw;
  margin-top: -317px;
  margin-left: 354px;
  cursor: pointer;
}

.image-7 {
  width: 15vw;
  margin-top: -115px;
  margin-left: 96px;
  cursor: pointer;
}

.image-8 {
  width: 15vw;
  margin-top: -164px;
  margin-left: 435px;
  cursor: pointer;
}

.image-9 {
  width: 13vw;
  margin-top: 3px;
  margin-bottom: -7px;
  margin-left: 217px;
  padding-bottom: 0px;
  cursor: pointer;
  mix-blend-mode: normal;
}

.navbar {
  margin-top: -818px;
  margin-right: -645px;
  margin-left: 925px;
  color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.container {
  margin-top: -29px;
  margin-right: -101px;
  margin-left: -86px;
  background-color: #fff;
  font-family: Andalemo, sans-serif;
  color: #f8b3b6;
  font-weight: 400;
}

.brand {
  margin-right: 16px;
  margin-left: -841px;
}

.image-10 {
  width: 5vw;
  background-color: rgba(244, 168, 171, 0);
}

.image-11 {
  width: 5vw;
  margin-top: -10px;
}

.nav-link {
  color: #c37376;
  white-space: nowrap;
  cursor: pointer;
  mix-blend-mode: normal;
}

.nav-link-2 {
  background-color: #fff;
  color: #c37376;
  cursor: pointer;
}

.nav-link-3 {
  color: #c37376;
  cursor: pointer;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  float: right;
  clear: none;
}

.body {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .image-2 {
    margin-top: 44px;
    margin-left: 100px;
  }

  .heading-2 {
    margin-left: 100px;
  }

  .image-3 {
    margin-left: -90px;
    cursor: auto;
  }

  .image-4 {
    margin-left: 497px;
    cursor: auto;
  }

  .image-5 {
    cursor: auto;
  }

  .image-6 {
    margin-top: -336px;
    margin-left: 306px;
    cursor: auto;
  }

  .image-7 {
    width: 12vw;
    margin-top: -72px;
    margin-left: 109px;
    cursor: auto;
  }

  .image-8 {
    margin-top: -174px;
    margin-left: 461px;
    cursor: auto;
  }

  .image-9 {
    cursor: auto;
  }

  .container {
    margin-top: -23px;
    margin-right: -111px;
    margin-left: -99px;
  }
}

@media screen and (min-width: 1920px) {
  .image {
    overflow: auto;
    width: 15vw;
    margin: 160px -126px -68px 106px;
    float: none;
  }

  .image-2 {
    margin-bottom: -2px;
    margin-left: 67px;
  }

  .heading-2 {
    margin-left: 77px;
    border-width: 0px;
  }

  .image-3 {
    margin-left: -130px;
  }

  .image-4 {
    margin-top: 42px;
    margin-left: 629px;
  }

  .image-5 {
    margin-left: 140px;
  }

  .image-6 {
    margin-left: 446px;
  }

  .image-7 {
    margin-left: 131px;
  }

  .image-8 {
    margin-top: 51px;
    margin-left: 595px;
  }

  .image-9 {
    margin-top: 318px;
  }

  .navbar {
    margin-top: -600px;
    margin-right: -46px;
    margin-left: 339px;
    background-color: #fff;
  }

  .container {
    margin-top: -45px;
    margin-right: -172px;
    margin-left: -306px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-11 {
    margin-top: -14px;
    margin-left: 22px;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-link-2 {
    font-size: 20px;
  }

  .nav-link-3 {
    font-size: 20px;
  }
}

#w-node-ffd778e6-ed17-f58e-a49c-df3857826147-2f8d1903 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-3;
}

#w-node-d5ad1526-0062-04bf-75e1-3cb0cfa84672-2f8d1903 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-4;
}

#w-node-c34c2312-2e6e-b3c8-fc9d-32b5b8da68c9-2f8d1903 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area;
}

#w-node-_0cb12739-1610-31c0-92a3-665196858ec3-2f8d1903 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: Area-2;
}

#w-node-_55223678-fbc2-6d66-dc4e-fa2ab861afd2-2f8d1903 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_94b3b0df-8c4b-41b7-5f35-8e423e70882a-2f8d1903 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_187590e6-e4fa-f46f-a209-37cfe4167736-2f8d1903 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ebb1881a-1068-254d-5818-510180939e0b-2f8d1903 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (min-width: 1920px) {
  #w-node-d5ad1526-0062-04bf-75e1-3cb0cfa84672-2f8d1903 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: Area-4;
  }

  #w-node-c34c2312-2e6e-b3c8-fc9d-32b5b8da68c9-2f8d1903 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: Area-2;
  }

  #w-node-_0cb12739-1610-31c0-92a3-665196858ec3-2f8d1903 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: Area-2;
  }

  #w-node-_55223678-fbc2-6d66-dc4e-fa2ab861afd2-2f8d1903 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_94b3b0df-8c4b-41b7-5f35-8e423e70882a-2f8d1903 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}
@font-face {
  font-family: 'Andalemo';
  src: url('https://uploads-ssl.webflow.com/63366b3943334fb6008d1902/63367071effc6a70b3006ec6_ANDALEMO.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
